/*
==========================================================================================
Air Aroma Hero Banners
==========================================================================================
*/

/* Add background-image to main element for full width. Add it to .hero-content to contain it

/* --------------------------------------------- 
Home
--------------------------------------------- */
/* Home - Couture */
.hero-home-couture {
	background-image: url(/images/hero/hero-home-couture.jpg);
}
/* Home - Sofitel */
.hero-home-sofitel {
	background-image: url(/images/hero/hero-home-sofitel.jpg);
}

/* --------------------------------------------- 
Store
--------------------------------------------- */
/* Store - Aromax */
.hero-store-aromax {
	background-image: url(/images/hero/hero-store-aromax.jpg);
	background-position: center bottom;
}

/* --------------------------------------------- 
Scent Marketing
--------------------------------------------- */
/* Scent Marketing */
.hero-scent-marketing {
	background-image: url(/images/hero/hero-scent-marketing.jpg);
}
/* Why Air Aroma */
.hero-why-air-aroma {
	.hero-content {
		background-image: url(/images/hero/hero-why-air-aroma.jpg);
	}
}

/* --------------------------------------------- 
Industry
--------------------------------------------- */


/* --------------------------------------------- 
Clients
--------------------------------------------- */

/* Client: BCBG */
.hero-client-bcbg {
	background-image: url(/images/hero/hero-client-bcbg.jpg);
	background-position: center top;
}
/* Client: Cathay Pacific */
.hero-client-cathay-pacific {
	background-image: url(/images/hero/hero-client-cathay-pacific.jpg);
	background-position: center center;
}
/* Client: South Congres Hotel */
.hero-client-south-congress-hotel {
	background-image: url(/images/hero/hero-client-south-congress-hotel.jpg);
	background-position: center center;
}

/* --------------------------------------------- 
Products
--------------------------------------------- */
/* Products: Home */
.hero-products-home {
	background-image: url(/images/hero/hero-products-home.jpg);
	background-position: center 90%;
}
/* Products: Aromax */
.hero-product-aromax {
	.hero-content {
		background-image: url(/images/hero/hero-product-aromax.jpg);
		background-position: center bottom;
	}
}
/* Products: Aroscent */
.hero-product-aroscent {
	.hero-content {
		background-image: url(/images/hero/hero-product-aroscent.jpg);
		background-position: center bottom;
	}
}
/* Products: Aroslim */
.hero-product-aroslim {
	.hero-content {
		background-image: url(/images/hero/hero-product-aroslim.jpg);
		background-position: center bottom;
	}
}
/* Products: Aropromo */
.hero-product-aropromo {
	.hero-content {
		background-image: url(/images/hero/hero-product-aropromo.jpg);
		background-position: center bottom;
	}
}
/* Products: Aropromo - How Does it Work */
.hero-product-aropromo-how {
	.hero-content {
		background-image: url(/images/hero/hero-product-aropromo-how.jpg);
		background-position: center bottom;
	}
}
/* Products: Ecoscent */
.hero-product-ecoscent {
	.hero-content {
		background-image: url(/images/hero/hero-product-ecoscent.jpg);
		background-position: center bottom;
	}
}

/* --------------------------------------------- 
Scents
--------------------------------------------- */
/* Scents: Home */
.hero-scents-home {
	.hero-content {
		background-image: url(/images/hero/hero-scents-home.jpg);
		background-position: center bottom;
	}
}
/* Scents: Signature */
.hero-scents-signature {
	background-image: url(/images/hero/hero-scents-signature.jpg);
	background-position: center 90%;
}

/* --------------------------------------------- 
About
--------------------------------------------- */
/* About Us */
.hero-about {
	 .hero-content {
	 	background-image: url(/images/hero/hero-about.jpg);
	 	background-position: center bottom;
	 }
}