/* Icon colors */
.fi-green {
	background-color: #009966;
}
/* Icons */
.icon-scent {
	background-position: 0 0;
}
.icon-phone {
	background-position: -56px 0;
}
.icon-cart {
	background-position: -112px 0;
}
.icon-power {
	background-position: -168px 0;
}
.icon-sales {
	background-position: -224px 0;
}
.icon-money {
	background-position: 0 -56px;
}
.icon-push {
	background-position: -56px -56px;
}
.icon-touch {
	background-position: -112px -56px;
}
.icon-motion {
	background-position: -168px -56px;
}
.icon-interval {
	background-position: -224px -56px;
}
.icon-recycle-pp {
	background-position: 0 -112px;
}
.icon-recycle-pet {
	background-position: -56px -112px;
}
.icon-recycle {
	background-position: -112px -112px;
}
.icon-air-aroma {
	background-position: -168px -112px;
}
.icon-adjustable {
	background-position: -224px -112px;
}
.icon-six-scents {
	background-position: 0 -168px;
}
.icon-hvac {
	background-position: -56px -168px;
}
.icon-tick {
	background-position: -112px -168px;
}
.icon-star {
	background-position: -168px -168px;
}
.icon-placement {
	background-position: -224px -168px;
}
.icon-australia {
	background-position: 0 -224px;
}
.icon-science {
	background-position: -56px -224px;
}
.icon-natural {
	background-position: -112px -224px;
}
.icon-bottle {
	background-position: -168px -224px;
}